<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Nav -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Freetuts.net</a>
            </div>
            <!-- Nav collapse -->
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Giới Thiệu</a>
                    </li>
                    <li>
                        <a href="#">Tin Tức</a>
                    </li>
                    <li>
                        <a href="#">Liên Hệ</a>
                    </li>
                </ul>
    
                <div class="navbar-right">
                    <button class="btn btn-danger navbar-btn">Register</button>
                    <button class="btn btn-info navbar-btn">Login</button>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- /Navigation -->
    
    <div class="jumbotron">
        <h2>Healthcheck database</h2>
    </div>
